<div class="searchBar" id="searchBar" style="display: none">
  <div class="container">
    <form class="search_form" action="/search" role="search" method="POST">
      <input
        type="search"
        name="searchTerm"
        placeholder="Search the site..."
        id="searchInput"
        aria-label="Search"
      />
      <button type="submit">Search</button>
    </form>
  </div>
</div>
